{% load forms %}
{% load ipfjes %}
{% load pathways %}

{% include models.AsbestosExposureScreening.get_form_template %}


<div ng-show="editing.asbestos_exposure_screening.exposed == 'Yes'">
  <div save-multiple-wrapper="editing.asbestos_exposure_history" initialise-empty="ng-isolate-scope">
    <div class="well" ng-repeat="editing in model.subrecords track by $index">
      <h3>Task [[ $index + 1 ]]</h3>
      <div class="row">
        <div class="col-md-12">
          <div ng-show="!editing.asbestos_exposure_screening._client.completed" class="form-horizontal">
            {% include models.AsbestosExposureHistory.get_form_template %}
          </div>
          <div ng-show="editing.asbestos_exposure_screening._client.completed">
            <div ng-repeat="item in [editing.asbestos_exposure_screening]">
              {% include models.AsbestosExposureHistory.get_detail_template %}
            </div>
          </div>
          <div class="pull-right">
            <div ng-show="editing.asbestos_exposure_screening._client.completed" ng-click="edit(editing.asbestos_exposure_screening)" class="btn btn-primary">
              {% icon 'fa-edit' %}
              Edit
            </div>
            <div ng-disabled="!recordFilledIn(editing.asbestos_exposure_screening)" class="btn btn-primary" ng-click="done(editing.asbestos_exposure_screening)" ng-show="!editing.asbestos_exposure_screening._client.completed">
                {% icon 'fa-check-square' %}
                Done
            </div>
            <div ng-click="remove($index)" class="btn btn-secondary">
              {% icon 'fa-trash' %}
              Remove
            </div>
          </div>
        </div>
      </div>
      <hr ng-show="!$last" />
    </div>
    <div class="text-center row">
      <a ng-click="addAnother()" class="text-center btn btn-primary">{% icon "glyphicon-plus" %} Add Another</a>
    </div>
  </div>
</div>
