{% load pathways %}
{% load ipfjes %}
{% script_text "I’m going to ask you about places that you’ve lived now. I know it might be difficult to remember, don’t worry." %}

{% include models.BirthPlace.get_form_template %}

{% script_text "Do you remember the places you lived when you were growing up? (until you finished school)" %}

{% multisave models.ResidentialHistory %}

{% script_text "I’m going to ask you about people who have lived with you now. I’m specifically interested in people that lived at home with you who went out to work." %}

{% multisave models.CohabitationHistory %}
