
<p>
Hello, my name is <b>name of researcher</b>. I am a doctor/nurse/research assistant calling as part of the IPF Job Exposure Study. Is this <b>name of participant</b>? 
</p>

<p>
I would like to ask you some questions about the jobs you have had, where you have lived, and your lifetime smoking history. I would also like to record this call for our research if that's ok with you.  
</p>

<p>
Your answers will help us to understand the causes of IPF, make sure people get the right treatment, and ensure that controls of exposures at work are right so that we protect workers and prevent disease in the future.  
</p>

<p>
The interview should take about 30 minutes. Is now a good time to talk?
</p>
