{% extends "patient_lists/card_list.html" %}
{% load forms %}
{% block card_link %}/pathway/#/interview/[[row.demographics[0].patient_id]]/[[row.id]]/{% endblock %}
{% block card_footer %}
  <div class="panel-footer">
    <div class="row">
      <div class="text-right col-md-12">
        <a ng-click="editNamedItem(row, 'demographics', row.demographics.length)" class="btn btn-primary">
          {% icon models.Demographics.get_icon %}
          Edit {{ models.Demographics.get_display_name }}
        </a>
        <a ng-click="newNamedItem(row, 'general_notes')" class="btn btn-primary">
          {% icon models.GeneralNotes.get_icon %}
          Add Note
        </a>
      </div>
    </div>
  </div>
{% endblock %}
