{% load forms %}
{% load ipfjes %}
<div class="row">
  <div class="col-md-12">
    <p>
      Did you, or anyone close to you, ever work with or disturb material you suspected to be made from asbestos?
    </p>
    <p>
      This might include materials such as asbestos lagging, asbestos sprayed coatings, AIB(asbestos insulation board - e.g asbesolux, marinite, shipboard, LDR, turnasbestos etc) or corrugated roofing?
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% radio  field="AsbestosExposureScreening.exposed"  %}
  </div>
</div>
<div class="row" ng-show="editing.asbestos_exposure_screening.exposed == 'Yes'">
  <div class="col-md-4">
    {% script_text "Tell me about your contact with asbestos" %}
  </div>
  <div class="col-md-8">
    {% textarea field="AsbestosExposureScreening.description"  %}
  </div>
</div>
