{% load forms %}
{% load ipfjes %}
<div class="row">
  <div class="col-md-4">
    {% script_text "What was the name of your job?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.soc_job"%}
  </div>
  <div class="col-md-8 col-md-offset-2 well" ng-show="editing.occupational_history.soc_job">
    <ng-include src="get_soc_details(editing.occupational_history)"></ng-include>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    {% script_text "What did you do in this job?" %}
  </div>
  <div class="col-md-8">
    {% textarea  field="OccupationalHistory.job_tasks"  %}
  </div>
</div>
<div ng-show="socCodes[editing.occupational_history.soc_job]">
  <div ng-repeat="editing in [editing.occupational_history._client.aeh]">
    {% include models.AsbestosExposureHistory.get_form_template %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "What was the name of the company (if applicable)?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.company_name" %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "What did the company make (if applicable)?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.employer_output" %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "What sort of working area did you spend most of your time?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.working_area" %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Where was the place you worked?" %}
  </div>
  <div class="col-md-8">
    {% textarea  field="OccupationalHistory.address"  %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Did you work full time? (if not specify average hours per week)" %}
  </div>
  <div class="col-md-8">
    {% checkbox field="OccupationalHistory.full_time" %}
    <div ng-show="!editing.occupational_history.full_time">
      {% input field="OccupationalHistory.av_hours_per_week_if_not_full_time" %}
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Did you work all year round (if not specify months of the year)" %}
  </div>
  <div class="col-md-8">
    {% checkbox field="OccupationalHistory.year_round" %}
    <div ng-hide="editing.occupational_history.year_round">
      {% input field="OccupationalHistory.av_months_per_year_if_not_year_round" %}
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Do you remember how old you were or what year you started the job?" %}
  </div>
  <div class="col-md-8">
    {% input  field="OccupationalHistory.start_year"  %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Do you remember how old you were or what year you finished the job?" %}
  </div>
  <div class="col-md-8">
    {% input  field="OccupationalHistory.end_year"  %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% script_text "Do you remember what job you had next?" %}
  </div>
</div>
