{% load forms %}
{% load pathways %}
{% load ipfjes %}

<div ng-show="editing.occupational_history._client.editJob">
  <div class="row">
    <div class="col-md-4">
      {% script_text "What was the name of your job?" %}
    </div>
    <div class="col-md-8">
      {% input label="Job title search" model="editing.occupational_history._client.soc_job_filter" change="filterChanged(editing.occupational_history._client)" %}
    </div>
  </div>
  <div ng-show="editing.occupational_history._client.soc_job_filter" class="row">
    <div class="col-md-3">
      <h4>
        Matches
        <span ng-show="matches.length > 0">
          ([[ matches.length ]])
        </span>
      </h4>
      <ul class="well job-matches">
        <li ng-repeat="job in editing.occupational_history._client.matches" ng-click="select(job, editing.occupational_history._client)" class="pointer">
          [[ job ]]
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <h4>Description</h4>
      <div class="well job-desc">
        <ng-include src="get_soc_details(editing.occupational_history._client)"></ng-include>
      </div>
    </div>
    <div class="col-md-1">
      <h4>Classification</h4>
      <a ng-click="confirm(editing.occupational_history)" class="btn btn-primary btn-lg">
        Confirm
      </a>
    </div>
  </div>
</div>
<div ng-show="!editing.occupational_history._client.editJob" class="row">
  <div class="col-md-12">
    <h3>Job Title: [[ editing.occupational_history.soc_job ]]
      <a ng-click="switchToEditJob(editing.occupational_history._client)" class="btn btn-primary pull-right">
        {% icon "fa-edit" %}
        Edit
      </a>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    {% script_text "What did you do in this job?" %}
  </div>
  <div class="col-md-8">
    {% textarea  field="OccupationalHistory.job_tasks"  %}
  </div>
</div>

<div ng-show="!hasAEH(editing.occupational_history)" class="row">
  <div class="col-md-4">
    <button class="btn btn-lg btn-primary" ng-click="addAnotherAEH(editing.occupational_history._client.aeh, editing.occupational_history)">
      {% icon models.AsbestosExposureHistory.get_icon %}
      Conduct Asbestos Exposure Assessment
    </button>
  </div>
</div>

<div ng-show="hasAEH(editing.occupational_history)">
  <div ng-repeat="occupation in [editing.occupational_history]">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-7">
            <h3>{{ models.AsbestosExposureScreening.get_display_name }}</h3>
          </div>
          <div class="col-md-5 text-right">
            <button ng-click="cancelAesbestosRisk(editing.occupational_history)" class="btn btn-secondary">
              {% icon models.AsbestosExposureHistory.get_icon %}
              Remove Assessment
            </button>
          </div>
        </div>
        <div ng-repeat="editing in [occupation._client.aes]">
          {% include models.AsbestosExposureScreening.get_form_template %}
        </div>
      </div>
    </div>
    <div ng-repeat="editing in occupation._client.aeh">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 well">
          <h3>Task [[ $index + 1 ]]</h3>
          {% include models.AsbestosExposureHistory.get_form_template %}
          <button class="btn btn-danger" ng-click="removeAEH(occupation, $index)">
            {% icon "fa-trash" %}
            Remove
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <center>
          <button class="btn btn-primary"
                  ng-click="addAnotherAEH(editing.occupational_history._client.aeh, editing.occupational_history)">
            {% icon "fa-plus" %}
            Add another Task
          </button>
        </center>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    {% script_text "What was the name of the company (if applicable)?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.company_name" %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "What did the company make (if applicable)?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.employer_output" %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "What sort of working area did you spend most of your time?" %}
  </div>
  <div class="col-md-8">
    {% input field="OccupationalHistory.working_area" %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Where was the place you worked?" %}
  </div>
  <div class="col-md-8">
    {% textarea  field="OccupationalHistory.address"  %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Did you work full time? (if not specify average hours per week)" %}
  </div>
  <div class="col-md-8">
    {% checkbox field="OccupationalHistory.full_time" %}
    <div ng-show="!editing.occupational_history.full_time">
      {% input field="OccupationalHistory.av_hours_per_week_if_not_full_time" %}
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Did you work all year round (if not specify months of the year)" %}
  </div>
  <div class="col-md-8">
    {% checkbox field="OccupationalHistory.year_round" %}
    <div ng-hide="editing.occupational_history.year_round">
      {% input field="OccupationalHistory.av_months_per_year_if_not_year_round" %}
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Do you remember how old you were or what year you started the job?" %}
  </div>
  <div class="col-md-8">
    {% input  field="OccupationalHistory.start_year"  %}
  </div>
</div>
<div class="row">

  <div class="col-md-4">
    {% script_text "Do you remember how old you were or what year you finished the job?" %}
  </div>
  <div class="col-md-8">
    {% input  field="OccupationalHistory.end_year"  %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% script_text "Do you remember what job you had next?" %}
  </div>
</div>
