<span ng-show="item._client.job.title">
  <b>
    <span ng-show="item.start_year">
      [[ item.start_year ]]
      <span ng-show="item.end_year">
        - [[ item.end_year ]]
      </span>
  </b>
  [[ item._client.job.title ]]
  <br />
  </span>
</span>

<span ng-show="item.company_name">
  <b>[[ item.company_name ]]</b><br />
</span>

<span ng-show="item.address">
  [[ item.address ]]
  <br />
</span>

<span ng-show="item.full_time">
  Full time <br />
</span>
<span ng-show="item.job_tasks">
  <i>Tasks:</i> [[ item.job_tasks ]]
  <br />
</span>
<span ng-show="item.employer_output">
  <i>Output:</i> [[ item.employer_output ]]
  <br />
</span>

<span ng-show="item.job_working_area">
  <i>Working Area:</i> [[ item.job_working_area ]]
  <br />
</span>
