<span ng-show="item.amiodarone">
     Amiodarone
   <br />
</span>
<span ng-show="item.flecainade">
     Flecainade
   <br />
</span>
<span ng-show="item.nitrofurantoin">
     Nitrofurantoin
   <br />
</span>
<span ng-show="item.azathioprine">
     Azathioprine
   <br />
</span>
<span ng-show="item.gefitinib">
     Gefitinib
   <br />
</span>
<span ng-show="item.ifosfamide">
     Ifosfamide
   <br />
</span>
<span ng-show="item.melphalan">
     Melphalan
   <br />
</span>
<span ng-show="item.rituximab">
     Rituximab
   <br />
</span>