<span ng-show="item.ever_smoked">
     Ever Smoked
   <br />
</span>
<span ng-show="item.current_smoker">
     Current Smoker
   <br />
</span>
<span ng-show="item.start_smoking_age">
    [[ item.start_smoking_age ]]
   <br />
</span>
<span ng-show="item.stop_smoking_age">
    [[ item.stop_smoking_age ]]
   <br />
</span>
<span ng-show="item.cigarettes_per_day">
    [[ item.cigarettes_per_day ]]
   <br />
</span>
<span ng-show="item.what_do_you_smoke">
    [[ item.what_do_you_smoke ]]
   <br />
</span>