{% extends 'patient_lists/abstract_ipfjes_list.html' %}
{% load forms %}

{% block list_title %}
Participants To Call
{% endblock %}

{% block card_body %}
  <div class="row">
    <div class="col-md-6">
      <h4><strong>
          {% icon models.Demographics.get_icon %} {{ models.Demographics.get_display_name }}
      </strong></h4>
      <p ng-repeat="item in row.{{ models.Demographics.get_api_name }}">
        {% include models.Demographics.get_display_template %}
      </p>
    </div>
    <div class="col-md-6">
      <h4><strong>
          {% icon models.GeneralNotes.get_icon %} {{ models.GeneralNotes.get_display_name }}
      </strong></h4>
      <p ng-repeat="item in row.{{ models.GeneralNotes.get_api_name }}">
        {% include models.GeneralNotes.get_display_template %}
      </p>
    </div>
  </div>
{% endblock %}

{% block card_actions %}
<div class="panel-footer">
  <div class="row">
    <div class="col-md-12 text-right">
      <a class="btn btn-secondary" href="/pathway/#/interview/[[row.demographics[0].patient_id]]/[[row.id]]/">
          {% icon 'fa-pencil' %} Start interview
      </a>
      <a class="btn btn-primary" pathway-episode="row" open-pathway="remove" pathway-callback="removeFromList(row.id)">
        {% icon 'fa-sign-out' %} Remove
      </a>
    </div>
  </div>
</div>
{% endblock %}
